@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    height: 90px;
    width: 200px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
}

.button::before{
    position: absolute;
    background-color: rgb(253, 153, 153) ;
    width: 85px;
    height: 85px;
    content: '';
    border-radius: 50%;
    margin: 3px;
    transition: 0.8s;
}

input{
    display: none;
}

input:checked + .button{
    background-color: rgb(61, 62, 63);
}

.bg{
    background-color: rgb(22, 23, 31);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
    text-align: center;
    font-size: 30px;
    color: white;
}

.bg h1{
    margin-top: 200px;
}

input:checked + label + .bg{
    background-color: rgb(255, 255, 255);
    color: black;
}

.fa-moon{
    font-size: 45px;
    position: relative;
    top: 25px;
}

.fa-solid{
    left: 25px;
    color: rgb(61, 62, 63);
}

.fa-regular{
    left: 100px;
    color: white;
}

input:checked + .button::before{
    transform: translateX(108px);
}
